.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:center}
.fclear {clear:both}
.inner_copy {border:0;color:#f00;float:left;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
body {margin:0;background:#C0C0C0 url(images/img01.jpg) repeat-x left top;text-align:justify;font-family:Georgia, "Times New Roman",Times,serif;font-size:13px;font-style:italic;color:#7D807A}
* {margin:0;padding:0}
h1, h2, h3 {color:#AA2808}
h1 {}
h2 {}
h3 {}
p, blockquote, ul, ol {margin-bottom:20px;line-height:2em}
p {}
blockquote {}
ul, ol, li {margin:0;padding:0;list-style:none}
a {text-decoration:underline;color:#E14949}
a:hover {text-decoration:none;color:#C11414}
/* Wrapper */
#wrapper {}
/* Header */
#header {width:1000px;height:130px;margin:0 auto;background:url(images/img02.jpg) no-repeat left top}
/* Logo */
#logo {float:left;width:310px;height:70px;margin:0;padding-left:30px;text-align:center}
#logo h1 {margin:0;padding:10px 0 0 0;text-transform:lowercase;font:normal 46px Georgia, "Times New Roman",Times,serif}
#logo h2 {margin:-2px 0 0 0;padding:0;text-transform:lowercase;letter-spacing:2px;font-size:12px;font-weight:normal;font-style:italic;color:#fff}
#logo a {text-decoration:none;color:#fff}
/* Menu */
#menu {width:1000px;height:60px;margin:0 auto;padding:0;background:url(images/img03.jpg) no-repeat left top}
#menu ul {margin:0;padding-left:30px;padding-top:6px;list-style:none;line-height:normal}
#menu li {display:inline;text-align:center}
#menu a {height:23px;display:block;float:left;margin:0 2px 0 0;padding:3px 20px 0 20px;text-decoration:none;text-align:center;text-transform:lowercase;font-family:Georgia, "Times New Roman",Times,serif;font-size:14px;font-weight:normal;font-style:italic;color:#fff}
#menu a:hover, #menu .active a {background:url(images/img08.jpg) repeat-x left top;color:#fff}
/* Search */
#header-search {width:940px;height:51px;margin:0 auto;padding:0}
#header-search form {float:right;width:300px;margin:0;padding:12px 0 0 0}
#header-search fieldset {margin:0;padding:0;border:none}
#header-search-text {width:200px;padding:2px 3px;background:#1E1E1E;border:none;color:#4D4D4D}
#header-search-submit {background:none;border:none;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#E4E4E4}
#search {height:51px;margin:0 auto;padding:0 0 60px 0}
#search form {margin:0;padding:12px 0 0 0}
#search fieldset {margin:0;padding:0;border:none}
#search input {float:left;font:12px Arial,Helvetica,sans-serif}
#search-text {width:160px;height:18px;margin-left:50px;padding:3px 0 3px 5px;border:1px solid #999999;color:#000}
#search-submit {margin-left:10px;padding:4px 4px;border:none;background:#C11212;font-size:10px;color:#fff}
/* Page */
#page {width:1000px;margin:0 auto;padding:0 0;background:url(images/img04.jpg) repeat-y left top}
#page-bgtop {margin:0;padding:0 60px;background:url(images/img06.jpg) no-repeat left top}
/* Content */
#content {float:left;width:540px;padding-top:30px;padding-right:40px}
.post {background:url(images/img04.gif) repeat-x left bottom;margin:0 0 30px 0;border-bottom:1px solid #CFCAB8}
.post .title {margin:0;color:#BF0B0B}
.post .title a {padding:0;letter-spacing:-1px;text-decoration:none;font-family:Georgia, "Times New Roman",Times,serif;font-size:28px;font-weight:normal;font-style:italic;color:#BF0B0B}
.post .entry {padding:20px 0}
.post img {float:left;padding:15px 0}
.post .meta {text-align:right;padding:0 0 20px 0;font-weight:bold;color:#202020}
.post .byline {font-size:12px;font-style:italic;text-transform:lowercase;color:#7D807A}
/* Sidebar */
#sidebar {float:right;width:300px;padding:100px 0 0 0}
#sidebar ul {margin:0;padding:0;list-style:none;line-height:normal}
#sidebar li {margin-bottom:1px}
#sidebar li ul {margin:0;padding:0 0 40px 50px}
#sidebar li li {margin:0;padding:7px 0;border-bottom:1px solid #998D62;background:none}
#sidebar h2 {height:35px;margin:0;padding:10px 0 10px 50px;background:url(images/img07.jpg) no-repeat left top;font-family:Georgia, "Times New Roman",Times,serif;font-size:18px;font-weight:normal;font-style:italic;color:#524B36}
#sidebar h3 {font-size:77%;color:#110404}
#sidebar p {margin:0;line-height:normal;color:#D4C792}
#sidebar a {border:none;text-decoration:none;color:#4E4628}
#sidebar a:hover {text-decoration:underline}
/* Submenu */
#submenu {}
/* News */
#news {}
#news a {font-size:85%}
/* Footer */
#footer {width:1000px;height:100px;margin:0 auto;padding:0;background:url(images/img05.jpg) no-repeat left top;color:#9C9C9C}
#footer p {margin:0;padding:60px 40px;text-align:left;font-size:11px}
#footer a {text-decoration:underline;color:#808080}
#footer a:hover {text-decoration:none}





.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
